<div class="item" (show)="info.id" appHighlightBorder [creationDate]="info.creationDate">

  <div class="title-container">
    <span class="title-container__text">Video Course {{info.id}}. {{info.title | uppercase}}</span>
    <div class="date-time-container">
      <div class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i>{{info.creationTime}}</div>
      <div class="icon"><i class="fa fa-calendar" aria-hidden="true"></i>{{info.creationDate | date:'mediumDate'}}</div>
    </div>
  </div>

  <div class="main-text-container">
    <div class="text-container">
      <span>
        {{info.description}}
      </span>
    </div>
    <div class="btn-container">
      <app-edit-btn></app-edit-btn>
      <app-delete-btn (click)="deleteItem(info.id)"></app-delete-btn>
    </div>
  </div>
</div>
