/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  font-family: SourceSansPro, sans-serif;
  font-size: 1.4rem;
  margin: 0;
}

a{
  outline: none;
}

*:focus{
  outline: none;
}
