<div>
  <app-header></app-header>

  <app-breadcrumbs></app-breadcrumbs>

  <div class="courses-page">

    <div class="search-section">
      <div class="input-container">
        <input type="text" placeholder="Text to search" class="search-field">
        <img class="loupe-img" src="../../../assets/icons/ic-loupe.svg" alt="">
      </div>
      <app-search-btn></app-search-btn>
    </div>

    <div class="add-courses-section">
      <app-add-btn class="add-courses-section__btn"></app-add-btn>
    </div>

    <app-section-list></app-section-list>

  </div>

  <app-footer></app-footer>
</div>
