<div class ="header">
  <button class="btn video-btn">
    <img src="../../../assets/images/logo.png" alt="video-logo">
  </button>
  <div class="auth-section">
    <button class="btn">
      <img src="../../../assets/icons/ic-user.svg" alt="login-icon">
      <span class="btn-text">User login</span>
    </button>
    <button class="btn">
      <img src="../../../assets/icons/ic-exit.svg" alt="logout-icon">
      <span class="btn-text" (click)="logOut()">Log off</span>
    </button>
  </div>
</div>
